<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <img class="pull-left mr1 mt0 grayscale profile unselectable" src="assets/images/editor.jpg" alt="Profilkép"/>
      <p class="italic gray light small mb0">„Gulácsi András vagyok, Front-end webfejlesztő, környezettudós és GIS-szakértő.”
      </p>
      <a class="smallest underline" href="mailto:<%= site.email %>"><%= site.email %></a>
    </div>
  </div>
</div>