<div class="container-fluid p0 m0">
  <div class="row mx-responsive p0 m0">
    <div class="col-sm-12 col-lg-10 p0">
      <h2 class="mt0 mb1">Az alkalmazás leírása</h2>
      <p>A fenti térkép az NDDI értékek a sokéves (2000-2017 közötti) átlagtól vett (standard) eltéréseit jeleníti
        meg, 8-napos időszakokra vonatkozóan. Ezeket úgy kapom meg, hogy az aktuális indexértékből levonom a sokéves
        átlagos
        indexértékeket, és az így kapott különbséget leosztom a sokéves szórásértékkel.</p>
      <p>A pozitív NDDI eltérések szárazabb, aszályos körülményeket jeleznek, míg a negatív eltérések a megszokottnál
        nedvesebb, jobb vízellátottságú területeket jelölnek.</p>
      <p>A térképen mindig a már rendelkezésre álló adatok jelennek meg, késleltetve. Egy cella területe a képen: 500 m * 500 m, tehát 25 ha.</p>
      <p class="mb2">Megjegyzés: az év napjai (day of year, DOY) értékekhez tartozó dátumokat <a href="https://www.astro.umn.edu/courses/1001/moon/dayofyeartable.pdf" target="_blank">ebből
          a
          táblázatban keresheted ki</a>. A legördülő listában már előre definiálva vannak a 8-napos időszakokhoz
        tartozó év napja értékek.</p>
    </div>
  </div>
</div>