<div class="container-fluid p0 m0">
    <div class="row mx-responsive p0 m0">
      <a id="blog"></a>
      <div class="col-md-12 col-lg-12 col-xl-10 p0 mb2 m-mb2">
       <!-- <img class="m0 img-opacity" src="assets/images/main/stripe.jpg" alt="">-->
      <h1 class="uppercase mt3 m-mt2 lined">Blog</h1>
      </div>
    </div>
  </div>