<footer>
  <div class="bg-black footer-height">
    <div class="container-fluid p0 m0"></div>
    <div class="row mx-responsive p0">
      <div class="col-12 p0">
        <p class="min-size light-gray m0 sans-serif"><%= site.title %> – <%= site.quote %></p>
      </div>
    </div>
  </div>
  </div>
</footer>