<footer>
  <div class="bg-green">
    <div class="container">
      <div class="row light-gray minimal pt1">
        <div class="col-sm-6 clearfix mb2">
          <img class="pull-left mr1 mt0 grayscale profile unselectable" src="/assets/images/editor.jpg" alt="Profilkép"/>
          <p class="mb0 smallest montserrat">Gulácsi András vagyok, Front-end webfejlesztő, környezettudós és GIS-szakértő.
          </p>
        </div>
        <div class="col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-5">
          <p class="minimal light montserrat">Ezen Mű a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Nevezd meg! - Ne add el! - Így add tovább! 4.0 Nemzetközi Licenc</a> feltételeinek megfelelően felhasználható.
          <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img class="mthalf mb0 unselectable license" alt="Creative Commons Licenc" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
