<div class="container-fluid p0 m0">
  <div class="row mx-responsive p0 m0">
    <div class="col-12 p0">
      <a id="aszalymonitoring"></a>
      <h1 class="mt3 mb2 m-mt2">Aszálymonitoring a Homokhátságon (2000-től)</h1>
      <p>Az aszályok távérzékelésével kapcsolatos kutatásaim eredményeit felhasználom egy költséghatékony, közel valós
        idejú aszálymonitoring rendszer felépítéséhez, a felhő alapú számítástechnika segítségével. A Google Earth
        Engine számítási platformot használom, melyet távérzékelési és földtudományi adatok feldolgozására és
        elemzésére hoztak létre. Az alább beágyazott, kísérleti jellegű, véglegesnek nem tekinthető alkalmazás a Terra
        amerikai műhold MODIS szenzorának 500 méteres felbontású felvételeiből, 8 napos időszakokra vonatkozóan számít „Normalizált
        Differenciált Aszályindexet” (NDDI). Az NDDI-ről bővebben a tanulmányomban olvashatsz:</p>
      <p class="mb2"></p>
    </div>
  </div>
  <div class="row mx-responsive p0 m0">
    <div class="col-sm-12 col-lg-10 p0 mb3">
      <p class="medium-size black2">Gulácsi A. – Kovács F. 2018. <a href="https://doi.org/10.15201/hungeobull.67.1.3"
          target="_blank">Drought monitoring of forest vegetation using MODIS-based normalized difference drought index
          in Hungary.</a> – Hungarian Geographical Bulletin 67(1), pp.29-42.</p>
      <hr>
    </div>
  </div>
</div>