<nav class="small-size" aria-label="breadcrumb">
  <ol class="breadcrumb pl0 bg-white small-size">
    <li class="breadcrumb-item"><a class="" href="/index.html">Főoldal</a></li>
    <li class="breadcrumb-item active" aria-current="page"><%= title %></li>
  </ol>
</nav>
<h1 class="title mb2 m-mb-1"><%= title %></h1>


