<h1 class="post-title gray"><%= title %></h1>
<p class="minimal mthalf mbhalf"><span class="glyphicon glyphicon-time gray"></span> <span class="post-date montserrat"><%= date %></span></p>
<hr class="mb2">

