@charset "UTF-8";
/* Created by András Gulácsi (@andrasgulacsi / salsaboy990) */
/* 27px */
.fs-36 {
  font-size: 36px; }

.fs-22 {
  font-size: 22px; }

.merriweather-sans {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.sub-title {
  font-size: 1.33333rem;
  font-weight: 400; }

.medium-size {
  font-size: 0.88889rem; }

.small-size {
  font-size: 0.77778rem; }

.min-size {
  font-size: 0.66667rem; }

.normal-size {
  font-size: 18px; }

.orange {
  color: #C83904; }

.bg-black {
  background: #323A38; }

.bg-error {
  background: #E7785F; }

.black2 {
  color: #343434; }

.green {
  color: #0B6052 !important; }

.bg-green {
  background: #0B6052; }

.bg-light-green {
  background: #77D6A3; }

.white {
  color: #FFFFFF; }

.bg-white {
  background: #FFFFFF; }

.white-2 {
  color: #FFFFFE; }

.light-gray {
  color: #EAEAEA; }

.bg-light-gray {
  background: #EAEAEA; }

.light-gray3 {
  color: #EFEFEF; }

.medium-gray {
  color: #687270; }

body,
html {
  color: #323A38;
  /* background: $white;*/
  font-size: 18px;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  text-align: left; }

body, p, blockquote,
figure, figcaption {
  margin: 0;
  padding: 0; }

figure {
  padding-left: 1rem;
  padding-right: 1rem; }

pre {
  margin: 2rem 0;
  padding: 0; }

pre code {
  font-size: 0.8rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  color: #C83904;
  margin: 2rem 0 0.75rem 0;
  -webkit-font-smoothing: initial;
  line-height: 1.1; }

.sans-serif {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.page-title {
  font-size: 1rem; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: underline;
  font-weight: 700; }

h1,
.h1 {
  font-size: 2.22222rem;
  margin-top: 0; }

h2,
.h2 {
  font-size: 1.66667rem; }

h3,
.h3 {
  margin: 2rem 0 1rem 0;
  font-size: 1.33333rem; }

h4,
.h4 {
  font-size: 18px; }

h5,
.h5 {
  font-size: 0.88889rem; }

h6,
.h6 {
  font-size: 0.77778rem; }

p {
  /*font-size: 1rem;*/
  margin-top: 0;
  margin-bottom: 1rem; }

ol,
ul {
  margin-top: 0;
  padding-left: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem; }

.no-bullets {
  list-style-type: none;
  margin-left: 0rem;
  padding-left: 0;
  /*line-height: 1.1;*/ }

blockquote {
  background: #F0DD9C;
  color: #323A38;
  margin: 2rem 1rem;
  font-style: italic;
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  padding: 1rem; }

blockquote p {
  margin-bottom: 0; }

.no-shadow {
  -webkit-box-shadow: none;
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: none;
  /* Firefox 3.5 - 3.6 */
  box-shadow: none;
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */ }

.tshadow-gray {
  text-shadow: -0.5px -0.5px 0 #999, 0.5px -0.5px 0 #999, -0.5px 0.5px 0 #999, 0.5px 0.5px 0 #999; }

.lheight {
  line-height: 70px; }

.lh15 {
  line-height: 1.5; }

.lh13 {
  line-height: 1.333333; }

.lh2 {
  line-height: 2; }

.lh3 {
  line-height: 2.5; }

/*
!++++++ MARGINS
*/
/* 0 rem */
.m0 {
  margin: 0rem; }

.mt0 {
  margin-top: 0rem; }

.mr0 {
  margin-right: 0rem; }

.mb0 {
  margin-bottom: 0rem; }

.ml0 {
  margin-left: 0rem; }

/* 1 baseline */
.m1 {
  margin: 1.5rem; }

.mt1 {
  margin-top: 1.5rem; }

.mr1 {
  margin-right: 1.5rem; }

.mb1 {
  margin-bottom: 1.5rem; }

.ml1 {
  margin-left: 1.5rem; }

/* 2 baseline */
.m2 {
  margin: 3rem; }

.mt2 {
  margin-top: 3rem; }

.mr2 {
  margin-right: 3rem; }

.mb2 {
  margin-bottom: 3rem; }

.ml2 {
  margin-left: 3rem; }

/* 3 baseline */
.m3 {
  margin: 4.5rem; }

.mt3 {
  margin-top: 4.5rem; }

.mr3 {
  margin-right: 4.5rem; }

.mb3 {
  margin-bottom: 4.5rem; }

.ml3 {
  margin-left: 4.5rem; }

/* 4 baseline */
.m4 {
  margin: 6rem; }

.mt4 {
  margin-top: 6rem; }

.mr4 {
  margin-right: 6rem; }

.mb4 {
  margin-bottom: 6rem; }

.ml4 {
  margin-left: 6rem; }

/* 5 baseline */
.m5 {
  margin: 7.5rem; }

.mt5 {
  margin-top: 7.5rem; }

.mr5 {
  margin-right: 7.5rem; }

.mb5 {
  margin-bottom: 7.5rem; }

.ml5 {
  margin-left: 7.5rem; }

/* 6 baseline */
.m6 {
  margin: 9rem; }

.mt6 {
  margin-top: 9rem; }

.mr6 {
  margin-right: 9rem; }

.mb6 {
  margin-bottom: 9rem; }

.ml6 {
  margin-left: 9rem; }

.mx-auto {
  margin-left: auto;
  margin-right: auto; }

.mx-responsive {
  margin-left: 7.5rem;
  margin-right: 7.5rem; }

.mhalf {
  margin: 0.75rem; }

.mthalf {
  margin-top: 0.75rem; }

.mrhalf {
  margin-right: 0.75rem; }

.mbhalf {
  margin-bottom: 0.75rem; }

.mlhalf {
  margin-left: 0.75rem; }

.mrquarter {
  margin-right: 0.375rem; }

.mlquarter {
  margin-left: 0.375rem; }

.mtquarter {
  margin-top: 0.375rem; }

/*
!++++++ PADDINGS
*/
/* 0 rem */
.p0 {
  padding: 0rem; }

.pt0 {
  padding-top: 0rem; }

.pr0 {
  padding-right: 0rem; }

.pb0 {
  padding-bottom: 0rem; }

.pl0 {
  padding-left: 0rem; }

/* 1 baseline */
.p1 {
  padding: 1.5rem; }

.pt1 {
  padding-top: 1.5rem; }

.pr1 {
  padding-right: 1.5rem; }

.pb1 {
  padding-bottom: 1.5rem; }

.pl1 {
  padding-left: 1.5rem; }

/* 2 baseline */
.p2 {
  padding: 3rem; }

.pt2 {
  padding-top: 3rem; }

.pr2 {
  padding-right: 3rem; }

.pb2 {
  padding-bottom: 3rem; }

.pl2 {
  padding-left: 3rem; }

/* 3 baseline */
.p3 {
  padding: 4.5rem; }

.pt3 {
  padding-top: 4.5rem; }

.pr3 {
  padding-right: 4.5rem; }

.pb3 {
  padding-bottom: 4.5rem; }

.pl3 {
  padding-left: 4.5rem; }

/* 4 baseline */
.p4 {
  padding: 6rem; }

.pt4 {
  padding-top: 6rem; }

.pr4 {
  padding-right: 6rem; }

.pb4 {
  padding-bottom: 6rem; }

.pl4 {
  padding-left: 6rem; }

.phalf {
  padding: 0.75rem; }

.pthalf {
  padding-top: 0.75rem; }

.prhalf {
  padding-right: 0.75rem; }

.pbhalf {
  padding-bottom: 0.75rem; }

.plhalf {
  padding-left: 0.75rem; }

.plquarter {
  padding-left: 0.375rem; }

.prquarter {
  padding-right: 0.375rem; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

/* Clearfix hack to clear the floats */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.align-center {
  text-align: center; }

.align-left {
  text-align: left; }

.align-right {
  text-align: right; }

.italic {
  font-style: italic; }

.expanded {
  letter-spacing: 1px; }

.expanded-2 {
  letter-spacing: 2px; }

.expanded-3 {
  letter-spacing: 3px; }

.word-spacing {
  word-spacing: 5px; }

.condensed {
  letter-spacing: -1px; }

/* FONT STYLES */
.light {
  font-weight: 300; }

.normal {
  font-weight: 400; }

.bold-500 {
  font-weight: 500; }

.bold-600 {
  font-weight: 600; }

.bold-700 {
  font-weight: 700; }

.bold-800 {
  font-weight: 800; }

.black-900 {
  font-weight: 900; }

.uppercase {
  text-transform: uppercase; }

.underline {
  text-decoration: underline; }

.no-underline {
  text-decoration: none; }

.line-through {
  text-decoration: line-through; }

.lh1 {
  line-height: 1; }

.lh13 {
  line-height: 1.3; }

.left {
  float: left; }

.right {
  float: right; }

.inline {
  display: inline; }

.block {
  display: block; }

.hidden {
  display: none; }

table {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 0.77778rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%; }

figcaption {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-bottom: 1.5rem;
  font-size: 0.77778rem;
  font-style: normal;
  color: #687270;
  text-align: center; }

.normal-font {
  font-style: normal; }

caption {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 0.77778rem;
  font-style: normal;
  color: #515958; }

img {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  display: block;
  height: auto;
  width: 100%; }

.img-opacity {
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
  zoom: 1;
  /* Triggers "hasLayout" in IE 7 and lower */ }

.img-hover:hover {
  filter: sepia(100%) contrast(50%) saturate(500%) hue-rotate(100deg); }

.license {
  width: 88px;
  height: 31px; }

.thumbnail-img {
  margin-top: 1.5rem;
  margin-bottom: .5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: block;
  height: auto;
  width: -webkit-calc(100% - 2rem);
  width: -o-calc(100% - 2rem);
  width: -moz-calc(100% - 2rem);
  width: calc(100% - 2rem); }

.profile {
  width: 100px;
  height: 100px;
  border-radius: 2px;
  margin: 0;
  margin-right: 0.5rem; }

.medium-img {
  width: 50%; }

.logo {
  height: 30px;
  width: 30px; }

.signup-logo {
  height: 36px;
  width: 36px; }

.navbar-height {
  height: 68px; }

.footer-height {
  height: 54px;
  line-height: 54px; }

iframe {
  display: block;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0; }

th,
td {
  /*border: 1px solid #E1E3E4;*/
  padding: 0.25rem 0.5rem; }

tr:nth-child(even) {
  background: rgba(225, 227, 228, 0.3); }

.border-top {
  border-top: 1px solid #ccc; }

.border-shadow {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.45);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 2px; }

.border-shadow-input {
  -webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Firefox 3.5 - 3.6 */
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.4);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border-radius: 4px; }

.border-full {
  border: 1px solid #999; }

.border-full-gray {
  border: 1px solid #515958; }

.img-border {
  border: 2px solid #ff6600; }

.border-left {
  border-left: .5rem solid #ff6600;
  border-radius: .125rem; }

.border-none {
  border: none; }

.border-radius-6 {
  border-radius: 6px; }

/*
hr {
  border: 1px solid $light-gray2;
  margin: 0;
  margin-bottom: 0rem;
}*/
.lined:after {
  display: block;
  content: "";
  margin-top: -14px;
  margin-left: 125px;
  position: relative;
  top: -10px;
  background: #687270;
  width: 100px;
  height: 2px; }

a {
  text-decoration: underline;
  color: #0B6052;
  transition: color 0.3s ease-in; }

a:focus, a:hover {
  color: #C83904;
  /*#2A3E94*/
  text-decoration: underline; }

.white-link {
  color: #EAEAEA !important;
  text-decoration: underline; }

.white-link:hover, .white-link:active, .white-link:focus {
  transition: ease-in 0.3s;
  color: #FFFFFF;
  text-decoration: none; }

.white-link-header {
  color: #EAEAEA !important;
  text-decoration: none; }

.white-link-header:hover, .white-link-header:active, .white-link-header:focus {
  transition: ease-in 0.3s;
  color: #FFFFFF;
  text-decoration: underline; }

.linkedin-link:hover {
  color: #fff !important;
  text-decoration: none; }

.gray-link {
  color: #E5E5E5;
  text-decoration: none; }

.gray-link:hover, .gray-link:active, .gray-link:focus {
  transition: ease-in 0.3s;
  color: #fff;
  text-decoration: underline; }

.black-link {
  color: #343434;
  text-decoration: underline; }

.black-link:hover, .black-link:active {
  transition: ease-in 0.3s;
  color: #515958;
  text-decoration: none; }

/*
a:visited {
  color: rgb(80, 5, 99);
}*/
.no-visited:visited {
  color: #fff; }

.unselectable {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

::-moz-selection {
  color: #151817;
  background: #77D6A3; }

::selection {
  color: #151817;
  background: #77D6A3; }

.btn:hover, .btn:active, .btn:focus {
  color: #FFFFFF;
  background: #C83904; }

.btn:active, .btn:active {
  background: #77D6A3;
  box-shadow: none; }

.btn {
  height: 47px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Firefox 3.5 - 3.6 */
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
  border: 0px solid #999;
  border-radius: 4px;
  color: #151817;
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 47px;
  text-align: center;
  padding: 0; }

.btn-primary {
  color: #151817;
  background: #77D6A3; }

.exit-btn {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px; }

.container {
  padding: 0 1rem;
  margin: 0 1rem; }

input {
  border-radius: 5px;
  min-width: 100%; }

input {
  background-color: #EFEFEF;
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  font-size: 0.88889rem;
  color: #323A38;
  padding: 8px; }

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-color: #FFF2C9; }

textarea {
  font-family: "Merriweather", Georgia, "Times New Roman", Times, serif;
  font-size: 0.88889rem;
  border-width: 2px;
  border-style: solid;
  border-top-color: #999;
  border-left-color: #999;
  border-right-color: #ddd;
  border-bottom-color: #ddd;
  border-radius: 5px;
  background-color: #EFEFEF;
  color: #323A38;
  min-width: 100%;
  min-height: 280px;
  padding: 8px; }

.profile-small {
  box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
  width: 80px;
  height: 80px;
  display: block;
  border-radius: 50%;
  margin: 0rem; }

.profile-minimal {
  box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
  width: 53px;
  height: 53px;
  display: block;
  border-radius: 50%;
  margin: 0rem;
  margin-right: 0.25rem; }

.td-profile-width {
  width: 122px;
  height: 122px; }

.up-btn {
  box-shadow: 0.5px 0.5px 0.5px 0px #ccc;
  width: 72px;
  height: 72px;
  display: block;
  border-radius: 50%;
  margin: 0rem; }

.star {
  display: inline;
  margin: 0;
  padding: 0;
  width: 80px;
  height: 16px; }

.placeholder {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px; }

.fb-icon {
  display: inline-block;
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  width: 22px;
  height: 22px; }

.icon {
  display: inline;
  margin: 0;
  padding: 0;
  width: 28px;
  height: 28px; }

.emoji {
  display: inline;
  margin-left: 0;
  margin-right: 0.25rem;
  margin-bottom: 0;
  margin-top: 0;
  width: 1rem;
  height: 1rem; }

.tag {
  border: 1px solid #8A2701;
  border-radius: 4px;
  padding: 0.5rem; }

.bullet {
  list-style-image: url(/assets/images/bullet.png); }

label {
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.custom-form .ws-invalid label,
.custom-form .ws-invalid h3 {
  color: #F0DD9C; }

.custom-form .ws-invalid input, .custom-form .ws-invalid textarea {
  border-color: #E7785F; }

.custom-form .ws-success input, .custom-form .ws-success textarea {
  border-color: #77D6A3; }

.ws-errorbox {
  padding-left: 0rem;
  letter-spacing: 1px;
  font-weight: 700;
  font-family: "Merriweather Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.ws-errorbox p {
  color: #E7785F;
  font-size: 0.77778rem; }

.btn-lg,
.btn-group-lg > .btn {
  padding: 0px 10px;
  /*font-size: 20px;*/
  /*line-height: $baseline;*/
  border-radius: 2px; }

.mapouter {
  text-align: right;
  width: 100%;
  height: auto; }

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: auto;
  width: 100%; }

.map-responsive {
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0; }

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute; }

.bg-light-honeycombs {
  background: url(../images/intro_bg.png);
  background-size: auto, cover; }

.bg-dark-honeycombs {
  background: url(../images/footer_bg.png);
  background-size: auto, cover; }

.outer-container {
  position: relative;
  z-index: 1; }

.inner-shape {
  z-index: 2;
  position: absolute;
  top: -36px;
  left: -4px;
  width: 17px;
  height: 32px; }

.csepp-shape {
  width: 17px;
  height: 32px; }

.level-bar-outer {
  z-index: 0;
  position: relative;
  width: 150px;
  height: 7px;
  border-radius: 0px 2px 2px 0px; }

.level-bar-inner135 {
  z-index: 1;
  position: absolute;
  width: 135px;
  height: 7px;
  border-radius: 0px 1px 1px 0px; }

.level-bar-inner125 {
  z-index: 1;
  position: absolute;
  width: 125px;
  height: 7px;
  border-radius: 0px 1px 1px 0px; }

.level-bar-inner85 {
  z-index: 1;
  position: absolute;
  width: 85px;
  height: 7px;
  border-radius: 0px 1px 1px 0px; }

.level-bar-inner75 {
  z-index: 1;
  position: absolute;
  width: 75px;
  height: 7px;
  border-radius: 0px 1px 1px 0px; }

.level-bar-inner36 {
  z-index: 1;
  position: absolute;
  width: 36px;
  height: 7px;
  border-radius: 0px 1px 1px 0px; }

/* MEDIA QUERIES */
@media (max-width: 1800px) {
  .mx-responsive {
    margin-left: 4.5rem !important;
    margin-right: 4.5rem !important; } }

@media (max-width: 1440px) {
  .mx-responsive {
    margin-left: 3rem !important;
    margin-right: 3rem !important; }
  .profile {
    width: 100px;
    height: 100px; } }

@media (max-width: 1024px) {
  .mx-responsive {
    margin-left: 3rem !important;
    margin-right: 3rem !important; } }

@media (max-width: 768px) {
  .mx-responsive {
    margin-left: 33px !important;
    margin-right: 33px !important; }
  .profile {
    width: 100px !important;
    height: 100px !important; }
  .clear-x-padding {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .clear-x-margin {
    margin-left: 0 !important;
    margin-right: 0 !important; }
  .ws-errorbox p {
    font-size: 15px !important; }
  .m-mt2 {
    margin-top: 2rem; }
  .m-mt1 {
    margin-top: 1rem; }
  .m-mb2 {
    margin-bottom: 2rem; }
  .m-pt1 {
    padding-top: 1rem; }
  .m-p0 {
    padding: 0;
    margin-left: 0 !important; }
  .clear-x-padding {
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .m-mt-1 {
    margin-top: 1.5rem !important; }
  .m-mb-1 {
    margin-bottom: 1.5rem !important; }
  .m-mt-0 {
    margin-top: 0 !important; }
  .m-mbhalf {
    margin-bottom: 1rem !important; } }

@media (max-width: 576px) {
  .mx-responsive {
    margin-left: 17px !important;
    margin-right: 17px !important; }
  .m-mx-responsive {
    margin-left: 0px !important;
    margin-right: 0px !important; }
  .medium-img {
    width: 100% !important; }
  .mobile-hide-nav {
    display: none; }
  .title {
    font-size: 36px !important; }
  h1 {
    font-size: 30px; }
  h2 {
    font-size: 24px; }
  h3 {
    font-size: 20px; }
  h4 {
    font-size: 17px; }
  .profile {
    width: 120px !important;
    height: 120px !important;
    margin-bottom: 0rem; }
  .logo {
    height: 25px !important;
    width: 25px !important; } }

@media (max-width: 464px) {
  .m-float-right {
    float: right !important; }
  .m-mb0 {
    margin-bottom: 0; } }

/* CUSTOM CSS RULES */
.mt-4px {
  margin-top: 4px; }

.mt-9px {
  margin-top: 9px; }

.mt-36px {
  margin-top: 36px; }

.mt-62px {
  margin-top: 62px; }

.mt-119px {
  margin-top: 119px; }

.mt-207px {
  margin-top: 77px; }

.mr-7px {
  margin-right: 7px; }

.mr-45px {
  margin-right: 45px; }

.mb-24px {
  margin-bottom: 24px; }

.mb-62px {
  margin-bottom: 62px; }

.mb-66px {
  margin-bottom: 66px; }

.large-title {
  font-size: 72px; }

.rounded-2 {
  border-radius: 2px; }

.grayscale {
  -webkit-filter: grayscale(65%);
  filter: grayscale(65%); }

.grayscale-100 {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }

.nav-link {
  display: block;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 0;
  padding-right: .5rem;
  margin-right: 0.5rem; }

.app-height {
  min-height: 800px; }

.bg-header {
  background: url(../images/newgeo_intro.png);
  background-size: auto, cover; }

.title {
  font-size: 52px; }

.matrice {
  color: #5e4708;
  background: #EFEFEF;
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 0px 2px 0px 2px; }

.card {
  position: relative; }

header nav {
  padding-top: 1px; }

embed, figure, .embed-responsive, .code-toolbar {
  margin-top: 2.25rem;
  margin-bottom: 2.25rem; }

.code-toolbar {
  position: relative; }

.toolbar .toolbar-item button {
  font-size: 0.77778rem;
  margin: 0;
  padding: 0 10px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: 1px solid #999;
  position: absolute;
  top: 0;
  right: 0;
  color: #515958;
  background: #EAEAEA; }
