/* MEDIA QUERIES */
@media (max-width: 1800px) {
  .mx-responsive {
      margin-left: margin-size(5) !important;
      margin-right: margin-size(5) !important
  }
}

@media (min-width: 1441px) {
  .mx-responsive {
    margin-left: margin-size(5) !important;
    margin-right: margin-size(5) !important
}
}

@media (max-width: 1440px) {
    .mx-responsive {
      margin-left: margin-size(3) !important;
      margin-right: margin-size(3) !important
    }
}

@media (max-width: 1024px) {
    .mx-responsive {
        margin-left: margin-size(2) !important;
        margin-right: margin-size(2) !important
    }
}

@media (max-width: 992px) {
  .m-align-center {
    text-align: center;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .tagsMobileIndex {
    display: none !important;
  }
}

@media (max-width: 768px) {
    .mx-responsive {
      margin-left: margin-size(1) !important;
      margin-right: margin-size(1) !important
    }
    .m-pl0 {
      padding-left: 0;
    }
    .m-pt0 {
      padding-top: 0;
    }
    .m-mrhalf {
      margin-right: margin-size(0.5)
    }
    .tagsMobileIndex {
      display: inline;
    }
}

@media (max-width: 767px) {
  .postTitleIndex {
    background-color: #fff !important;
    width: 100%;
    font-size: 26px !important;
    padding-top: margin-size(0.5);
    margin-top: margin-size(-2);
  }
}

@media (max-width: 576px) {
    .mx-responsive {
        margin-left: 16px !important;
        margin-right: 16px !important;
    }
    .m-site-title {
      font-size: 34px !important;
    }
    .m-post-title {
      font-size: 26px !important;
    }

    .m-phalf {
      padding-top: margin-size(0.5);
      padding-bottom: margin-size(0.5);
      padding-left: margin-size(0);
      padding-right: margin-size(0);
    }
    .m-mr0 {
      margin-right: 0;
    }
    .m-mt0 {
      margin-top: 0;
    }

    .m-mt1 {
      margin-top: margin-size(1);
    }

    .m-border-top {
      border-top: 1px solid rgba(255,255,255,0.05);
    }
}
